body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.upload-container {
  border: solid 1px #ccc;
  padding: 10px;
  max-width: fit-content;
  margin-bottom: 10px
}